* {font-family:'Oswald', sans-serif; font-weight: 300;}
.img-resp {width: 100%;}
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1rem;}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}
.small, small {font-weight: 300;}
p {font-size: 1rem;}
.card {margin-bottom: 1rem;}
.card p {margin-bottom: 0.25rem;}
.album .card img {border-bottom: 1px solid #CCC;}
a, .question {color: #328272;}
a:hover {color: #328272; text-decoration: none;}
a:visited {color: #328272;}
@media (min-width: 576px) { .jumbotron {padding: 3rem 2rem;} }
@media (min-width: 576px) { .card-deck {margin-bottom: 1.25rem;} }
